absl-py==0.9.0
asn1crypto==0.24.0
astor==0.8.1
attrs==17.4.0
Automat==0.6.0
backports.weakref==1.0.post1
chardet==3.0.4
click==6.7
colorama==0.3.7
constantly==15.1.0
cryptography==2.1.4
enum34==1.1.6
falcon==2.0.0
funcsigs==1.0.2
futures==3.3.0
gast==0.3.3
google-pasta==0.1.8
grpcio==1.27.2
h5py==2.10.0
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
ipaddress==1.0.17
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
mock==3.0.5
numpy==1.16.6
PAM==0.4.2
protobuf==3.11.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
pygame===1.9.1release
pygobject==3.26.1
pyOpenSSL==17.5.0
pyserial==3.4
python-libtorrent==1.1.5
pyxdg==0.25
PyYAML==5.3
scipy==1.2.3
SecretStorage==2.3.1
service-identity==16.0.0
six==1.14.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
Twisted==19.7.0
uuid==1.30
Werkzeug==1.0.0
wrapt==1.11.2
zope.interface==4.3.2
