<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
    <ul id="menu">
        <li class="menu-item active"><a href="#">Home</a></li>
        <li class="menu-item"><a href="/test">Pneumonia test</a></li>
        <li class="menu-item"><a href="/train">Train model</a></li>
    </ul>

    <div id="main">
        <div id="title">

            <div class="center" style="margin-bottom: 150px;">
                Дніпровський ліцей інформаційних технологій<br>
                при Дніпровському національному університеті <br>
                імені Олеся Гончара<br>

            </div>
            <div>
            <div class="center">
                Випускна робота
            </div>
            <div class="left">
                на тему:
            </div>
            
        </div>
        <div class="theme">
            Визначення захворювань на рентгенівських знімках 
        </div>
        <div class="right">
            Виконавець: <br>
            ліцеїст ІІІ-А-1 курсу   <br>
            Гамоля Руслан<br>

        </div>
        <div class="right">
            Керівники роботи: <br>
            Заєрко Л.Ю. <br>
            Заєрко О.В.  <br>

        </div>
        </div>
        <div class="center" style="margin-top: 150px;  font-weight: bold;">
            Дніпро<br>
            2020
        </div>
    </div>
</body>
</html>